<!DOCTYPE html>
<html>
<head>
    <title>Sign Up</title>
    <style>
        body { font-family: Arial, sans-serif; text-align: center; }

        label {
        display: inline-block;
        width: 120px;
        font-weight: bold;
        }

        input {
        width: 220px;
        height: 28px;
        margin-bottom: 12px;
        }

    </style>
</head>

<body>
    <div class = "sign_up_form">
        <h2> Create a New Login</h2>
        <form method="post" action="{% url 'create_user' %}">
            {% csrf_token %}
            <label for="user_name">Username:</label>
            <input type="text" id="user_name" name="user_name"><br>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email"><br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password"><br>
            <p><b>Is Admin?</b></p>
            <label><input type = "radio" name = "is_admin" value = "0" checked> 
                No
            </label>
            <label><input type = "radio" name = "is_admin" value = "1"> 
                Yes
            </label>
            <br>
            <input type="submit" value="Sign Up">
        </form>
    </div>
</body>