<!DOCTYPE html>
<html>
<head>
    <title>New Comment</title>
    <style>
        body {
            background-color: skyblue;
            font-size: 20px;
        }
        label { 
            display: inline-block;
            width: 90px;
            vertical-align: top;
        } 

        input {
            height: 30px;
            width: 200px;
        } 

        textarea {
            height: 30px;
            width: 202px;
        }
    </style>

</head>
<body>
<div style="text-align:center;">
    <h1>Create New Comment</h1>
    <form action = "/app/createComment/" method = "post">
        {% csrf_token %}
        <label for="post_id">Post ID:</label>
        <input type="text" id="post_id" name="post_id"><br><br>
        <label for="content">Content:</label>
        <textarea id="content" name="content"></textarea><br>
        <button type="submit">Create Comment</button>
    </form>
    <img src="https://cdn-icons-png.flaticon.com/512/704/704794.png" width="500">
</div>

</body>
</html>